<%- include('includes/header.ejs') %>
<%- include('includes/nav.ejs') %>

	<div class="container">
		<h1><%= pageTitle %></h1>
    <p><%= errorStatus %>: <%= errMessage %></p>

	</div>
<%- include('includes/footer.ejs') %>